{% extends "ram/base_site.html" %} {% block title %} Dashboard 1 {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}{% load static %}
<style>
    .conditions li{
        font-size: 17px;
    }
    button{
        position: relative;
        z-index: 1;
    }
    .bg-img::before{
        content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: inherit;
    z-index: 0;
    opacity: 0.1;
    background-image: url("{%static 'images/ram.jpg' %}") !important;
    background-repeat: no-repeat;
    -ms-background-size: 100%;
    -o-background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    }
</style>
<div class="bg-img">
    <div class="right_col" role="main">
        <div class="desc-competition">
            <div class="title-page text-center">
                <h1>شروط المسابقة</h1>
            </div>
            <div class="conditions jumbotron">
                <p>
                    كل عام وأنتم بخير،، ونرحب بكم في مسابقة رمضان الثقافية لهذا العام 1439هـ، حيث تنقسم المسابقة إلى ثلاث مراحل متنوعة تشمل:<br> أعمال ومبادرات، وقواعد السلوك المهني، والبرامج والمشروعات التي تعمل عليها الهيئة .<br><br>
                    شروط المسابقة:<br>
                    <ul>
                        <li>
                            المسابقة خاصة بموظفي الهيئة العامة للإحصاء ويحق لجميع من يملك بريد إلكتروني رسمي (اسم مستخدم)في مجال Stats المشاركة.
                        </li>
                        <li>
                            الطريقة الوحيدة للاشتراك هي عن طريق رابط المسابقة والمعلنة عبر قنوات التواصل الداخلي.
                        </li>
                        <li>
                            بعد انتهاء مدة كل مرحلة من مراحل المسابقة الثلاثة لا يمكن الرجوع لها وتعديل الإجابات.
                        </li>
                        <li>
                            يجب أن تكون جميع الإجابات صحيحة في نموذج المسابقة لدخولها في مرحلة الفرز النهائي واختيار الفائزين والتي ستتم بعد إجازة عيد الفطر المبارك .
                        </li>
                        <li>
                            إذا لم يتمكن أي أحد من المتسابقين من الاجابة الصحيحة على جميع الأسئلة 15 بشكل صحيح يتم بعد ذلك أخذ مجموع عدد الإجابات الصحيحة والأقرب للعدد  سؤال15.
                        </li>
                    </ul>
                </p>
                <form method="POST">
                    {%csrf_token%}
                    
                    <button type="submit" name="submit" class="btn btn-success">
                           موافقة و استمرار
                             </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super}}
<!-- Chart.js -->
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- Skycons -->
<script src="/static/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/static/vendors/Flot/jquery.flot.js"></script>
<script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/static/vendors/Flot/jquery.flot.time.js"></script>
<script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/static/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}