{% extends "ram/base_site.html" %} {% block title %} Dashboard 1 {% endblock title %} {% block stylesheets %} {{ block.super }} {% endblock stylesheets %} {% block content %}{% load static %}
<style>

</style>
<div class="bg-img">
    <div class="right_col" role="main">
        <div class="desc-competition">
            <div class="title-page text-center">
                <h1>شروط المسابقة</h1>
            </div>
            <div class="conditions">
                <ul>
                    أهلا وسهلا بك عزيزي الموظف في المسابقة الرمضانية لعام 1439 هجري، قبل البدء في المسابقة نود منك قراءة الشروط أدناه والموافقة عليها في حال أردت الاستمرار فيها.
                     <li>المرحلة الأولى تبدأ في 01/09 </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %} {% block javascripts %} {{ block.super}}
<!-- Chart.js -->
<script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- Skycons -->
<script src="/static/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="/static/vendors/Flot/jquery.flot.js"></script>
<script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
<script src="/static/vendors/Flot/jquery.flot.time.js"></script>
<script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
<script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="/static/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
{% endblock javascripts %}