{% extends "ram/base_site.html" %}
{% block title %} Dashboard 1 {% endblock title %}
{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}
{% block content %}
<style>
.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: relative;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #40e0d0;
}

.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '\2714';
  display: inline-block;
  font-size: 17px;
  text-align: center;
}

.option-input.radio {
  border-radius: 50%;
}

.option-input.radio::after {
  border-radius: 50%;
}

body label {
  font-size: 14px;
  font-weight: normal;
}
.md-radio ul{
  list-style: none;
}

p{
  font-size: 15px;
  font-weight: bold;
}
button{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px 1px;
        margin-bottom: 5px !important;
    }
</style>
  <div class="right_col" role="main">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">
          <div class="row x_title">
            <div class="col-md-6">
              <h3>المسابقة الرمضانية  <small>1439 - 2018</small></h3>
            </div>

          </div>
          <!-- start form -->
    <form id='quiz' method="POST">
      {% csrf_token %}
    {{ form.management_form }}
          {% for data in form %}
            {{ data.id}}
                 <div>
                   <p>
                     {{ data.question_no }}
                    {{ data.instance.question_no }}
                   </p>
                 </div>
                     <div class="md-radio">
                 {{data.emp_answer_number}}{{data.emp_answer_number.errors}}
       </div>
                 {% endfor %}
                 <button type="submit" name="save" class="btn btn-primary">
                  حفظ الإجابات
                 </button>
                 <button type="submit" name="submit" class="btn btn-success">
                ارسال الإجابات
                 </button>

               </form>
               {% if form.errors %}
                   {% for field in form %}
                       {% for error in field.errors %}
                           <div class="alert alert-danger">
                               <strong>{{ error|escape }}</strong>
                           </div>
                       {% endfor %}
                   {% endfor %}
                   {% for error in form.non_field_errors %}
                       <div class="alert alert-danger">
                           <strong>{{ error|escape }}</strong>
                       </div>
                   {% endfor %}
               {% endif %}
<!--
<form method="POST">
{% csrf_token %}
{% for q in question%}
  {{q}}<br>
{% for c in q.choices.all %}
<div class="radio">
  <label>
  <input type="radio" name="optradio-{{q.question_no}}" value="{{c.answer_no}}">
    {{c.answer_desc}}
  </label>
</div>
{% endfor %}
{% endfor%}
  <button type="submit" name="_submit" class="btn btn-success">{{ _('Submit') }}</button>
</form>

-->

<!--<br>
{% for q in answer%}
{% if forloop.first %}
{{q.question_no}}<br>
{% endif %}
  {{q.answer_no}}-{{q.answer_desc}} <br>
{% endfor %} -->


<!--  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="">
  <label class="form-check-label" for="defaultCheck1">
    Default checkbox
  </label>
</div> -->


            <!-- End form -->
          <div class="clearfix"></div>
        </div>

      </div>


    </div>

    <br />

    <div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">

  </div>
    </div>

  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <!-- Chart.js -->
  <script src="/static/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="/static/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- Skycons -->
  <script src="/static/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="/static/vendors/Flot/jquery.flot.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.time.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="/static/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="/static/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="/static/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="/static/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="/static/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="/static/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="/static/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="/static/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <script>
  $('#quiz').submit(function() {
      $('input').removeAttr('disabled');
  });
  </script>
{% endblock javascripts %}
