{% load i18n %}
<style>
  .top_nav{
        position: relative;
        z-index: 1;
        margin-right: 0 !important;
    }
    .nav-md .container.body .right_col {
    margin-right: 0;
}
</style>
<div class="nav_menu" style="padding-right: 20px">
  <nav>
    <div class="nav navbar-brand">
      <a>
        <p style="font-weight: bold">
         المسابقة الرمضانية لعام 1439 هـ -2018  ({{period_obj.descreption}}) 
        </p>

      </a>
    </div>
<!-- <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form> -->
    <ul class="nav navbar-nav navbar-right" style="width: auto">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <img src="/static/images/user.png" alt="">
          {% if user.is_authenticated %}
            {% if 'EmpName' in request.session %}
            {{ request.session.EmpName }}
            {# {{ mail }}#}
            {% endif %}
            {% endif %}
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right">
        <!-- <li><a href="javascript:;"> {{ _('Profile') }} </a></li>
         <li>
            <a href="javascript:;">
              <span class="badge bg-red pull-right">50%</span>
              <span>Settings</span>
            </a>
          </li>
     <li><a href="javascript:;">{{ _('Help') }}  </a></li> -->
          <li><a href="{% url 'logout'%}"><i class="fa fa-sign-out pull-right"></i>{{ _('Log Out')}} </a></li>
        </ul>
      </li>

<!-- notification -->
    <!--  <li role="presentation" class="dropdown">
        <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
 <i class="fa fa-envelope-o"></i>
          <span class="badge bg-green">6</span>
        </a>
       <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <a>
              <span class="image"><img src="/static/images/img.jpg" alt="Profile Image" /></span>
              <span>
                <span>John Doe</span>
                <span class="time">3 mins ago</span>
              </span>
              <span class="message">
                Film festivals used to be do-or-die moments for movie makers. They were where...
              </span>
            </a>
          </li>
          <li>
            <div class="text-center">
              <a>
                <strong>See All Alerts</strong>
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
-->
    </ul>
  </nav>
</div>
