{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Projects" %} {% endblock title %}

{% block stylesheets %}
{{ block.super }}
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<style>
ul.stats-overview li{width:19% !important}
.btn-success:hover{    color: #fff;
    background-color: #449d44 !important;
    border-color: #398439;}
</style>
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">

      <div class="page-title">
        <div class="title_left">
          <h3>{% trans "Employess not have tasks" %} </h3>
   
        </div>
           <div class="clearfix"></div>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group" style="float:left;">


            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
                     <ul class="nav nav-pills navbar-left">
                   <li>
<a href="{% url 'ns-project:export_users_xls' %}" class="btn btn-success"> <i class="fa fa-file-excel-o"></i>&nbsp{{_("Export to excel")}}</a>
               </li>
     
               </ul>

               


            <div class="x_content">
<div>  <i class="fa  fa-eye"></i> {% trans "Result Number :" %} <span>{{count}} </span> </div>
              {% for message in messages %}
                <div style="font-size: 20px;" class="alert {{ message.tags }} alert-dismissible" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  {{ message }}
                </div>
              {% endfor %}



              {% if count > 0 %}
              <table class="table table-striped projects" id='emp-table'>
                <thead>
                  <tr>
                    <th style="width: 1%">#</th>
                    <th>{{ _('Name') }}</th>
                    <th>{% trans "Job title" %}</th>
                    <th>{% trans "Department" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "Ext" %}</th>
                  <!--  <th>{% trans "Status" %}</th> -->
                  </tr>
                </thead>
                <tbody>
                  {% for data in All_Emp %}
                  <tr>

                    <td>#</td>
                    <td>{{data.empname}}</td>
                    <td>{{data.jobtitle}}</td>
                    <td>{{data.deptname}}</td>
                    <td>{{data.email}}</td>
                    <td>{{data.ext}}</td>
                    </tr>
                  {% endfor %}
          </tbody>
              </table>
              {%endif%}
              <!-- end project list -->
 <!--  pager -->
<div>

{% if All_Emp.has_other_pages %}
 <ul class="pagination">


   {% if All_Emp.has_previous %}
     <li><a href="?page={{ All_Emp.previous_page_number }}">&laquo;</a></li>
   {% else %}
     <li class="disabled"><span>&laquo;</span></li>
   {% endif %}
   {% for i in All_Emp.paginator.page_range %}
     {% if All_Emp.number == i %}
       <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
     {% else %}
       <li><a href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
   {% endfor %}
   {% if All_Emp.has_next %}
     <li><a href="?page={{ All_Emp.next_page_number }}">&raquo;</a></li>
   {% else %}
     <li class="disabled"><span>&raquo;</span></li>
   {% endif %}
 </ul>
{% endif %}


<ul class="pagination" >
<li>
<span class="current">
           {{ _('Page') }} {{ alldept.number }} of {{ alldept.paginator.num_pages }}
       </span>
       </li>
       </ul>


</div>
<!-- end pager -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}

 <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
    $('#emp-table').DataTable( {
          "language": {
    "sProcessing":   "جارٍ التحميل...",
    "sLengthMenu":   "أظهر _MENU_ مدخلات",
    "sZeroRecords":  "لم يعثر على أية سجلات",
    "sInfo":         "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
    "sInfoEmpty":    "يعرض 0 إلى 0 من أصل 0 سجل",
    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
    "sInfoPostFix":  "",
    "sSearch":       "ابحث:",
    "sUrl":          "",
    "oPaginate": {
    "sFirst":    "الأول",
    "sPrevious": "السابق",
    "sNext":     "التالي",
    "sLast":     "الأخير"
    }
        },
      "pageLength": 20,
        "scrollCollapse": true,
        "paging":         false,
        "searching" :false,
         "bLengthChange": false ,
          "info":     false
    } );
} );
    </script>
{% endblock javascripts %}
