{% extends "project/base_site.html" %}
{% load i18n %}
{% block title %} {% trans "Projects" %} {% endblock title %}
{% block stylesheets %}
{{ block.super }}
<link href="/static/vendors/jquery/dist/jquery-ui.css" rel="stylesheet">
    <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
<style>
   ul.stats-overview li{width:19% !important}
</style>
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
   <div class="">
      <div class="page-title">
         <div class="title_left">
            <h3>{% trans "Employees not finished tasks" %} </h3>
         </div>
         <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            </div>
         </div>
      </div>
      <div class="clearfix"></div>
      <div class="row">
         <div class="col-md-12">
            <div class="x_panel">
                                   <ul class="nav nav-pills navbar-left">
                   <li>
<a href="{% url 'ns-project:export_empnosheet_xls' %}" class="btn btn-success"> <i class="fa fa-file-excel-o"></i>&nbsp{{_("Export to excel")}}</a>
               </li>
     
               </ul>
           
                     <form class="form-inline" id="search" method="GET" action="">
      <div class="col-md-2">
  <label>{{_('satrt date')}}</label>
      <div class="input-group date" data-provide="datepicker">

      <input class="datepicker form-control" name="q_start" type="text"+ {% if request.GET.q_start %} + value='{{ request.GET.q_start}}' +{% else %}+  value='{{ start_date}}' + {% endif %}+ placeholder="{{_('form')}}">
      <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
      </div>
      </div>
      </div>
      <div class="col-md-2">
  <label>{{_('end date')}}</label>
      <div class="input-group date" data-provide="datepicker">

      <input class="datepicker form-control" name="q_end" type="text"+ {% if request.GET.q_end %} + value='{{ request.GET.q_end}}' +{% else %}+  value='{{ end_date}}' + {% endif %}+ placeholder="{{_('to')}}">
      <div class="input-group-addon">
      <span class="glyphicon glyphicon-th"></span>
      </div>
      </div>

      </div>
            <label style="color:#fff;">{{_('search')}}</label>
      <span class="input-group-btn">
      <button id="submit" class="btn btn-primary " type="submit">{% trans "Go"  %}!</button>
      </span>
    </form>
               <div class="x_content">
                <div>  <i class="fa  fa-eye"></i> {% trans "Result Number :" %} <span>{{count}} </span> </div>

                  {% for message in messages %}
                  <div style="font-size: 20px;" class="alert {{ message.tags }} alert-dismissible" role="alert">
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                     {{ message }}
                  </div>
                  {% endfor %}
                  <table class="table table-striped projects" id='emp-table'>
                     <thead>
                        <tr>
                           <th style="width: 1%">#</th>
                           <th>{{ _('Name') }}</th>
                           <th>{{ _('Job title') }}</th>
                           <th>{% trans "Department" %}</th>              
                           <th>{% trans "Manager Name" %}</th>
                           <th>{% trans "Task not complete" %}</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for data in sheets %}
                        <tr>
                           <td>#</td>
                           <td><a href="{{data.empid}}">{{ data.empid__empname}}</a></td>
                           <td><a href="{{data.empid}}">{{ data.empid__jobtitle}}</a></td>
                           <td>{{ data.deptcode__deptname}} </td>
                           <td>{{data.deptcode__managername }}</td>
                           <td style="color:red;">{{ data.total}} </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                  </table>
                  <!-- end project list -->
                   <!--  pager -->
<div>

{% if sheets.has_other_pages %}
 <ul class="pagination">


   {% if sheets.has_previous %}
     <li><a href="?page={{ sheets.previous_page_number }}">&laquo;</a></li>
   {% else %}
     <li class="disabled"><span>&laquo;</span></li>
   {% endif %}
   {% for i in sheets.paginator.page_range %}
     {% if sheets.number == i %}
       <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
     {% else %}
       <li><a href="?page={{ i }}">{{ i }}</a></li>
     {% endif %}
   {% endfor %}
   {% if sheets.has_next %}
     <li><a href="?page={{ sheets.next_page_number }}">&raquo;</a></li>
   {% else %}
     <li class="disabled"><span>&raquo;</span></li>
   {% endif %}
 </ul>
{% endif %}


<ul class="pagination" >
<li>
<span class="current">
           {{ _('Page') }} {{ alldept.number }} of {{ alldept.paginator.num_pages }}
       </span>
       </li>
       </ul>


</div>
<!-- end pager -->
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}

 <script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
    $('#emp-table').DataTable( {
          "language": {
    "sProcessing":   "جارٍ التحميل...",
    "sLengthMenu":   "أظهر _MENU_ مدخلات",
    "sZeroRecords":  "لم يعثر على أية سجلات",
    "sInfo":         "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
    "sInfoEmpty":    "يعرض 0 إلى 0 من أصل 0 سجل",
    "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
    "sInfoPostFix":  "",
    "sSearch":       "ابحث:",
    "sUrl":          "",
    "oPaginate": {
    "sFirst":    "الأول",
    "sPrevious": "السابق",
    "sNext":     "التالي",
    "sLast":     "الأخير"
    }
        },
      "pageLength": 20,
        "scrollCollapse": true,
        "paging":         false,
        "searching" :false,
         "bLengthChange": false ,
          "info":     false
    } );
} );
</script>
{% endblock javascripts %}
COPY TO CLIPBOARD  SELECT ALL