{% load i18n %}
<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">

    <a href="{% url 'ns-project:index' %}" class="site_title"> <img src="/static/images/stats_logo.png" alt="..." class="img-rounded  profile_img" style="width:50px;">  <span>{{ _("Task Management") }} </span></a>
  </div>

  <div class="clearfix"></div>

  <!-- menu profile quick info -->
  <div class="profile clearfix">
    <div class="profile_info">
  {% if user.is_authenticated %}
      {% if 'EmpName' in request.session %}
      <h2>  {{ request.session.EmpName }}</h2>
      <span>  {{ request.session.JobTitle }}</span>
      <br>
      <span>  {{ request.session.DeptName }}</span>
        {# {{ mail }}#}
        {% endif %}
        {% endif %}

    </div>
  </div>
  <!-- /menu profile quick info -->

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
           <li><a href="{% url 'ns-project:my-sheet' %}"><i class="fa fa-list"></i> {% trans "My To Do List" %} <span class="fa"></span></a>  </li>
           {% load user_group %}
           {% if request.user|has_group:"ismanager" or request.session.have_auth %}
           <li><a><i class="fa fa-hand-o-left"></i> {% trans "Delegations" %} <span class="fa fa-chevron-down"></span></a>
         <ul class="nav child_menu">
           {% if request.user|has_group:"ismanager" %}
           <li><a href="{% url 'ns-project:delegation'%}">{{_('Manage Delegation')}}</a></li>
           {%endif%}
           <li><a href="{% url 'ns-project:my-delegation'%}">{{_('Department Delegation')}}</a></li>
         </ul>
       </li>
           {%endif%}
           {% if request.user|has_group:"ismanager" %}
           <li><a href=" /sheet/{{request.session.DeptCode}}/dept "><i class="fa fa-pencil-square-o"></i> {% trans "manage all sheets" %} <span class="fa"></span></a>  </li>

            <li><a><i class="fa fa-file-text-o"></i> {% trans "Reports" %} <span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'ns-project:department-sheets'%}">{{_('All Department')}}</a></li>
             {% if request.user|has_group:"supermanager" %}
            <li><a href="{% url 'ns-project:emp-no-sheets'%}">{{_('Employess not have tasks')}}</a></li>
            <li><a href="{% url 'ns-project:emp-not-finished'%}">{{_('Employess not finished tasks')}}</a></li>
             {%endif%}
          </ul>
        </li>
           {% endif %}
      </ul>
    </div></div>

  <!-- /sidebar menu -->


</div>
